<div class="header" [style.background-image]="'url(' + commerceService.commerce.galery[0] + ')'">
  <div class="container">
    <div class="bloc">.
        <label for="exampleInput" class="edit special">
            <i class="fas fa-pencil-alt"></i>          
          </label>
          <input type="file" id="exampleInput" accept="image/*" (change)="readURL($event);" style="display: none" />
        <img class="logo" [src]="commerceService.commerce.url_logo">
    </div>
  </div>
</div>
<section class="bg-white">
  <layout-header></layout-header>
</section>
<div class="container">
    <div class="row">
      <div class="col-lg-8">
        <layout-description></layout-description>
        <div class="bloc">
           <layout-galery></layout-galery>
        </div>
        <layout-video></layout-video>
        <layout-legals-informations></layout-legals-informations>
      </div>
      <div class="col-lg-4">
        <button-call-to-action></button-call-to-action>
        <layout-details></layout-details>
        <layout-schedule></layout-schedule>
        <layout-holiday></layout-holiday>
      </div>
</div>

